<div>
    <table>
      <tr>
        <td>Id</td>
        <td>Name</td>
      </tr>
      <?php if( count( $this->animals )) :?>
      <?php foreach( $this->animals as $animal) :?>
      <tr>
        <td><?php echo $animal->id;?></td>
        <td><?php echo $animal->name;?></td>
      </tr>
      <?php endforeach;?>
      <?php else : ?>
      <tr>
        <td colspam='3'>No hay datos </td>
      </tr>
    <?php endif;?>
    </table>
</div>
